<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>상품 수정</title>
</head>
<body>
	<div align="center">
		<h1>상품 정보 수정</h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${product}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>상품 ID:</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<td>상품 명칭:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>상표:</td>
					<td><input type="text" th:field="*{brand}" /></td>
				</tr>
				<tr>
					<td>제조국가:</td>
					<td><input type="text" th:field="*{madein}" /></td>
				</tr>
				<tr>
					<td>가격:</td>
					<td><input type="text" th:field="*{priceStr}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">저장</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
