<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인 - 상품 관리</title>
<link rel="stylesheet" href="css/bootstrap.css">
<script src="js/bootstrap.js"></script>
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>로그인 하세요</h1>
			<br />
		</div>
		<div>
			<h4>
				<a th:href="@{/oauth2/authorization/facebook}">페이스북으로 로그인</a>
			</h4>
		</div>
		<div>
			<p>또는</p>
		</div>
		<form th:action="@{/login}" method="post"
			style="max-width: 400px; margin: 0 auto;">
			<div class="border border-secondary rounded p-3">
				<div>
					<p>
						<input type="text" name="username" required class="form-control" placeholder="유저이름"/>
					</p>
				</div>
				<div>
					<p>
						<input type="password" name="password" required class="form-control" placeholder="비밀번호"/>
					</p>
				</div>
				<p>
					<input type="submit" value="로그인" class="btn btn-primary" />
				</p>
			</div>
		</form>
	</div>
</body>
</html>
